.img-add {
  background: url("../image/btn/icon_add.png") no-repeat 1em center;
}

.img-receive {
  background: url("../image/btn/icon_receive.png") no-repeat 1em center;
}

.img-del {
  background: url("../image/btn/icon_del.png") no-repeat 1em center;
}

.img-hold {
  background: url("../image/btn/icon_hold.png") no-repeat 1em center;
}

.img-hold-n {
  background: url("../image/btn/icon_hold_n.png") no-repeat 1em center;
}

.img-extend {
  background: url("../image/btn/icon_extend.png") no-repeat 1em center;
}

.img-import {
  background: url("../image/btn/icon_import.png") no-repeat 1em center;
}

.img-vdc{
  background: url("../image/btn/icon_move.png") no-repeat 1em center;
}

.img-inform {
  background: url("../image/btn/icon_inform.png") no-repeat .8em center;
}
.img-reset{
  background: url("../image/btn/icon_search_reset.png") no-repeat 1em center;
}
.img-stop{
  background: url("../image/btn/icon_stop.png") no-repeat 1em center;
}
.img-sub{
  background: url("../image/btn/icon_search_sub.png") no-repeat 1em center;
}
.img-repair-first{
  background: url("../image/btn/icon_repair_first.png") no-repeat 1em center;
}
.img-repair-second{
  background: url("../image/btn/icon_repair_second.png") no-repeat 1em center;
}
.img-repair-out{
  background: url("../image/btn/icon_repair_out.png") no-repeat 1em center;
}
.img-title{
  background: url("../image/btn/icon_title.png") no-repeat 0 center;
  background-size: 22px
}
.icon-user {
  background: url("../image/btn/icon_user.png") no-repeat 1em center;
}
.icon-credit {
  background: url("../image/btn/icon_credit.png") no-repeat 1em center;
}
.icon-certificates {
  background: url("../image/btn/icon_certificates.png") no-repeat 1em center;
}
/*icon*/
.icon-edit{
  background: url("../image/operate/icon_edit.png") no-repeat center center;
}
.icon-eye{
   background: url("../image/operate/icon_eye.png") no-repeat center center;
}
.icon-upload{
  background: url("../image/operate/icon_upload.png") no-repeat center center;
}
.icon-del{
  background: url("../image/operate/icon_del.png") no-repeat center center;
}
.icon-event{
  background: url("../image/menu/icon_menu_event.png") no-repeat 1em center;
}

.icon-shop{
  background: url("../image/btn/shop2.png") no-repeat center center;
}
.icon-repair{
  background: url("../image/btn/icon1.png") no-repeat center center;
}


.icon-norepair{
  background: url("../image/btn/icon2.png") no-repeat center center;
}
.search-pop {
  height: auto;
  width: 100%;
  background: #fff;
  position: absolute;
  top: 20px;
  left: 0;
  z-index: 3;
  padding: 20px 0 10px;
  box-shadow: 5px 5px 5px #ccc;
  border-top: 1px solid #f1f1f1;
	z-index: 999;
}

.search-more {
  position: absolute;
  top: -3px;
  left: 50%;
  margin-left: -37px;
  width: 74px;
  height: 28px;
  background: url("../image/index/icon_more.png") no-repeat center;
  z-index: 2;
  cursor: pointer;
}

.search-up {
  position: absolute;
  top: -4px;
  left: 50%;
  margin-left: -37px;
  width: 74px;
  height: 28px;
  background: url("../image/index/icon_up.png") no-repeat center;
  z-index: 4;
  cursor: pointer;
}
