.btn-group div,
.search-box div {
  float: left;
}
.btn,
.btn-add,
.btn-receive,
.btn-del,
.btn-inform,
.btn-import,
.btn-export,
.btn-vdc-move,
.btn-repair-first,
.btn-repair-second,
.btn-repair-out,
.search-sub,
.search-reset {
  min-width: 40px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  margin-right: 15px;
  border-radius: 15px;
  cursor: pointer;
  font-size: 12px;
}
.span {
  display: inline-block;
  padding: 0 1em 0 3em;
}
.btn-add {
  background: #67A2FF;
}
.btn-add span {
  display: inline-block;
  padding: 0 1em 0 3em;
}
.btn-receive {
  background: #00CC99;
}
.btn-receive span {
  display: inline-block;
  padding: 0 1em 0 3em;
}
.btn-del {
  background: #FF7272;
}
.btn-del span {
  display: inline-block;
  padding: 0 1em 0 3em;
}
.btn-inform {
  background: #F084A3;
}
.btn-inform span {
  display: inline-block;
  padding: 0 1em 0 3em;
}
.btn-import {
  background: #63CFE0;
}
.btn-import span {
  display: inline-block;
  padding: 0 1em 0 3em;
}
.btn-export {
  background: #B68BFF;
}
.btn-export span {
  display: inline-block;
  padding: 0 1em 0 3em;
}
.btn-vdc-move {
  background: #1F82E6;
}
.btn-vdc-move span {
  display: inline-block;
  padding: 0 1em 0 3em;
}
.btn-repair-first {
  background: #0C4AAC;
}
.btn-repair-first span {
  display: inline-block;
  padding: 0 1em 0 3em;
}
.btn-repair-second {
  background: #1F82E6;
}
.btn-repair-second span {
  display: inline-block;
  padding: 0 1em 0 3em;
}
.btn-repair-out {
  background: #7D8CFC;
}
.btn-repair-out span {
  display: inline-block;
  padding: 0 1em 0 3em;
}
.btn-group {
  padding: 0 10px;
}
.search-group {
  padding: 20px 10px 0 10px;
  position: relative;
}
.input-box {
  width: auto;
  height: auto;
  float: left;
  margin: 0 15px 15px 0;
}
.input-box .input-label {
  width: 85px;
  line-height: 40px;
  float: left;
  display: block;
  text-align: right;
  margin-right: 15px;
  color: #666;
  font-size: 14px;
}
.input-box .input-label span {
  color: #FF7272;
}
.input-box .el-input {
  width: 200px;
  height: 40px;
  float: left;
}
.input-box .el-input input {
  height: inherit;
}
.input-box .el-select {
  width: 200px;
  height: 40px;
  float: left;
}
.input-box .el-select input {
  height: inherit;
}
.input-box .el-textarea {
  width: 200px;
  height: 95px;
}
.input-sm-box {
  width: auto;
  height: auto;
  float: left;
  margin: 0 15px 15px 0;
}
.input-sm-box .input-label {
  width: 85px;
  line-height: 40px;
  float: left;
  display: block;
  text-align: right;
  margin-right: 15px;
  color: #666;
  font-size: 14px;
}
.input-sm-box .input-label span {
  color: #FF7272;
}
.input-sm-box .el-input {
  width: 200px;
  height: 40px;
  float: left;
}
.input-sm-box .el-input input {
  height: inherit;
}
.input-sm-box .el-select {
  width: 100px;
  height: 40px;
  float: left;
}
.input-sm-box .el-select input {
  height: inherit;
}
.input-sm-box .el-textarea {
  width: 200px;
  height: 95px;
}
.search-box {
  margin-top: 5px;
  float: right;
}
.search-sub {
  border: 1px solid #67A2FF;
  color: #67A2FF;
}
.search-sub span {
  display: inline-block;
  padding: 0 1em 0 3em;
}
.search-reset {
  border: 1px solid #FF7272;
  color: #FF7272;
}
.search-reset span {
  display: inline-block;
  padding: 0 1em 0 3em;
}
.radio-box {
  position: absolute;
}
.title-group {
  width: auto;
  position: relative;
  height: 30px;
  line-height: 30px;
}
.title-group .icon-title {
  font-size: 16px;
  font-weight: bold;
  color: #796AC1;
  padding-left: 30px;
  position: absolute;
  left: 20px;
}
.title-group .btn-group div {
  float: right;
}
.header-tabs {
  padding-left: 20px;
  height: 48px;
  color: #666;
  border-bottom: 1px solid #f1f1f1;
}
.header-tab-item {
  display: inline-block;
  padding: 0 10px;
  margin: 0 15px;
  line-height: 46px;
  text-align: center;
  cursor: pointer;
}
.header-tab-active {
  color: #67A2FF;
  border-bottom: 2px solid #67A2FF;
}
/*# sourceMappingURL=theme.css.map */